@page "/Department/Create"
@rendermode InteractiveServer
@inject DepartmentService departmentService

<PageTitle>Department Create</PageTitle>

<EditForm Model="@Department" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="container">
        <div class="card shadow-lg">
            @*Header*@
            <div class="card-header d-flex justify-content-between">
                <h5 class="card-title">Creaci&oacute;n de Departamento</h5>
            </div>
        
            <div class="card-body">
                <div>
                    <label class="form-label">Nombre Departamento</label>
                    <InputText class="form-control" @bind-Value="Department.Name"/>
                    <ValidationMessage For="()=> Department.Name"/>
                </div>
                <div>
                    <label class="form-label">Nombre del Grupo</label>
                    <InputText class="form-control" @bind-Value="Department.GroupName" />
                    <ValidationMessage For="() => Department.GroupName" />
                </div>
                <div>
                    <label class="form-label">Fecha</label>
                    <InputDate class="form-control" @bind-Value="Department.ModifiedDate" />
                    <ValidationMessage For="() => Department.ModifiedDate" />
                </div>

                @*Lista de Detalle Empleados*@
                <div class="mt-2">
                    <h4>Lista de Empleados</h4>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="form-label">Seleccione un Empleado</label>
                            <InputSelect class="form-select" @bind-Value="EmployeeDepartmentHistory.BusinessEntityId">
                                <option value="0">Juan Perez</option>
                            </InputSelect>
                        </div>
                        <div class="col-5">
                            <label class="form-label">Seleccione un Horario</label>
                            <InputSelect class="form-select" @bind-Value="EmployeeDepartmentHistory.ShiftId">
                                <option value="0">Juan Perez</option>
                            </InputSelect>
                        </div>
                        <div class="col-2">
                            <div class="btn btn-outline-primary d-flex justify-content-center gap-2">
                                <i class="bi bi-plus-square-fill"></i>
                                <span>Agregar</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mt-2">
                        <QuickGrid Items="Department.EmployeeDepartmentHistories.AsQueryable()" Class="table table-bordered">
                            <PropertyColumn Property="@(e => PersonList.FirstOrDefault(e => e.BusinessEntityId == EmployeeDepartmentHistory.BusinessEntityId)!.FirstName)" Title="Empleado" Sortable="true"/>
                            <PropertyColumn Property="@(e => ShifList.FirstOrDefault(s => s.ShiftId == EmployeeDepartmentHistory.ShiftId)!.Name)" Title="Horario" Sortable="true" />
                            <TemplateColumn Context="option" Title="Opcion">
                                <button class="btn btn-outline-danger bi bi-trash"></button>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="Department/Index" class="btn btn-outline-secondary d-flex gap-1">
                    <i class="bi bi-arrow-left"></i>
                    <span>Volver</span>
                </a>
                <button class="btn btn-outline-primary bi bi-plus-square-fill">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Department Department = new Department();
    private EmployeeDepartmentHistory EmployeeDepartmentHistory = new EmployeeDepartmentHistory();
    private List<Person> PersonList = new List<Person>();
    private List<Shift> ShifList = new List<Shift>();
    private PaginationState pages = new PaginationState { ItemsPerPage = 5 };

    private async Task Guardar(){}
}
